<!--{% extends "sport/base.html" %}-->
{% block footer %}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="">Your body health</h5>
                <p class="">Best sport food and training programms</p>
                <p><a href="https://www.youtube.com/channel/UCP-xJwnvKCGyS-nbyOx1Wmg">Youtube chanell</a></p>
                <p><a href="https://t.me/jsrules">Telegramm chanell</a></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="">Menu</h5>
                <ul>
                    <li class="collection-item"><a href="if-else">Some link 1</a></li>
                    <li class="collection-item"><a href="cycles">Some link 2</a></li>
                    <li class="collection-item"><a href="array" class="red-text">Some link 3<span class="new badge"></span></a> </li>
                    <li class="collection-item"><a href="function">Some link 4</a></li>
                    <li class="collection-item"><a href="string">Some link 5</a></li>
                    <li class="collection-item"><a href="local-storage">Some link 6</a></li>
                    <li class="collection-item"><a href="event">Some link 7</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 SportFood@gmail.com
            <p>Phone : +38(055)-345-56-76</p>
            <a class="right" href="https://www.facebook.com/profile.php?id=100000695557673">Roman Rysun</a>
        </div>
    </div>
    </footer>
{% endblock %}