{% extends "sport/base.html" %}
{% block content %}
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Romeo`s sport site</h5>

        <a class="btn btn-outline-primary" href="#">Something</a>
    </div>

    <div class="container mt-1">

        <div class="row">
            <div class="col-0">


            </div>
            <div class="col-6 offset-0">
                <nav class="my-2 my-md-1 mr-md-3">
                    <a class="p-2 text-dark" href="#">SportFood</a>
                    <a class="p-2 text-dark" href="#">Trainings</a>

                </nav>
                <h1>Information 1</h1>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                </ul>


                {% for info in goods %}
            <div class="alert alert-info">
                <div class="row">
                    <div class="col-9">
                        <b>Category :</b> {{info.cat_id}}<br>

                        <b>Name of product :</b> {{info.name_product}}<br>
                        <b>Producer of product :</b> {{info.producer}}<br>
                        <b>Weight of product :</b> {{info.weight}}<br>
                        <b>Price of product :</b> {{info.price}}<br>
                    </div>
                </div>

            </div>
            {% endfor %}
            </div>
        </div>
    </div>

</body>
{% endblock %}